/*Regole Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(169, 223, 254, 0.629);
}

/*Regole titoli*/

h1,
h3{
    text-align: center;
    margin: 20px 0;
    color: #e60b58;
}

img{
    max-width: 100px;
}

/*Regole Contenitori*/

.contenitoreGenerale {
    background-color: rgb(18, 134, 201);
    width: 60wv;
    height: 60hv;
    margin: 10px auto;
    padding: 20px 0;
}

#contenitoreCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**Regole singole Card*/
.card{  
    display: flex;

    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    margin: 20px;
    padding: 20px;
    width: 350px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.85) ;
}

.testoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}
